<div class="container" style="width:98%; margin-right:auto; margin-left:auto;">
    <div class="register-logo">
        <a><b>NEP</b>GO</a>
    </div>
    <h4 class="login-box-msg">Register a new membership</h4>
    <form name="registerForm" ng-submit="register(user)" novalidate>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.email.$touched && registerForm.email.$invalid}">
            <input name="email" type="email" class="form-control" placeholder="Email" ng-model="user.email" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.username.$touched && registerForm.username.$invalid}">
            <input name="username" type="text" class="form-control" placeholder="Full name" ng-model="user.name" required>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.password.$touched && registerForm.password.$invalid}">
            <input name="password" type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.confirmPassword.$touched && registerForm.confirmPassword.$invalid}">
            <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm password" ng-model="user.confirm_password" required compare-to="user.password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <div ng-messages="registerForm.confirmPassword.$error" ng-show="registerForm.confirmPassword.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>
        <label>Select your sectors</label>
        <div class="form-group has-feedback">
            <div class="checkbox" ng-repeat="sector in sectors">
                <label>
                    <input type="checkbox" name="user.sectors[]" value="{{sector}}" ng-checked="user.sectors.indexOf(sector) > -1" ng-click="toggleCheckSector(sector)">
                    {{sector}}
                </label>
            </div>
        </div>
        <label>Select your roles</label>
        <div class="form-group has-feedback">
            <div class="checkbox" ng-repeat="role in roles">
                <label>
                      <input type="checkbox" name="user.roles[]" value="{{role}}" ng-checked="user.roles.indexOf(role) > -1" ng-click="toggleCheckRole(role)">
                      {{role}}
                    </label>
            </div>
        </div>
        <!-- <div class="form-group has-feedback">
            <label for="role">Role</label>
            <select name="role" id="role" ng-model="user.role" class="form-control">
                <option ng-repeat="role in roles track by $index">{{role}}</option>
            </select>
        </div>
        <div class="form-group has-feedback">
            <label>Country</label>
            <select name="country" id="country" ng-model="user.country" class="form-control">
                    <option ng-repeat="country in countries track by $index">{{country.iso}}</option>
                  </select>
        </div>
        <div class="form-group has-feedback">
            <label>City</label>
            <select name="city" id="city" ng-model="user.city" class="form-control">
                    <option ng-repeat="city in cities track by $index">{{city}}</option>
                  </select>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.address.$touched && registerForm.address.$invalid}">
            <input name="address" type="text" class="form-control" placeholder="Address" ng-model="user.address" required>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <div ng-messages="registerForm.address.$error" ng-show="registerForm.address.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>
        <label>Select your sectors</label>
        <div class="form-group has-feedback">
            <div class="checkbox" ng-repeat="sector in sectors">
                <label>
                      <input type="checkbox" name="user.sectors[]" value="{{sector._id}}" ng-checked="user.sectors.indexOf(sector._id) > -1" ng-click="toggleCheck(sector)">
                      {{sector.name}}
                    </label>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.experiences.$touched && registerForm.experiences.$invalid}">
            <textarea cols="50" name="experiences" type="text" class="form-control" placeholder="Experiences" ng-model="user.experiences" ng-list required></textarea>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <div ng-messages="registerForm.experiences.$error" ng-show="registerForm.experiences.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.educations.$touched && registerForm.educations.$invalid}">
            <textarea cols="50" name="educations" type="text" class="form-control" placeholder="Education" ng-model="user.educations" ng-list required></textarea>
            <span class="glyphicon glyphicon-education form-control-feedback"></span>
            <div ng-messages="registerForm.educations.$error" ng-show="registerForm.educations.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.skills.$touched && registerForm.skills.$invalid}">
            <textarea cols="50" name="skills" type="text" class="form-control" placeholder="Skills" ng-model="user.skills" ng-list required></textarea>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <div ng-messages="registerForm.skills.$error" ng-show="registerForm.skills.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.profession.$touched && registerForm.profession.$invalid}">
            <input name="profession" type="text" class="form-control" placeholder="Profession" ng-model="user.profession" required>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <div ng-messages="registerForm.profession.$error" ng-show="registerForm.profession.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>

        <div class="form-group has-feedback" ng-class="{'has-error':registerForm.extra_info.$touched && registerForm.extra_info.$invalid}">
            <textarea cols="50" name="extra_info" type="text" class="form-control" placeholder="Tell about yourself in not more than 100 words" ng-model="user.extra_info" ng-maxlength="100" required></textarea>
            <span class="glyphicon glyphicon-comment form-control-feedback"></span>
            <div ng-messages="registerForm.extra_info.$error" ng-show="registerForm.extra_info.$touched">
                <div ng-messages-include="app/shared/messages.html"></div>
            </div>
        </div>-->
        <div ng-if="error.error">
            <p class="text-danger text-right">{{error.text}}</p>
        </div>
        <div class="row">
            <!-- /.col -->
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="registerForm.$invalid">Register</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <a ui-sref="login">
        <p class="text-center">I already have a membership</p>
    </a>
</div>
<!-- /.form-box -->