<section class="content-header">
    <h1>
        User Profile
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">

            <!-- Profile Image -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black" style="background: url('https://www.sleekcover.com/covers/its-my-world-facebook-cover.jpg') center center;">
                    <h3 class="widget-user-username">{{userProfile.name}}</h3>
                    <h5 class="widget-user-desc">{{userProfile.profession}}</h5>
                </div>
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                        <ul ng-repeat="education in userProfile.educations">
                            <li class="label label-info">{{education}}</li>
                        </ul>
                    </div>
                    <hr>
                    <div>
                        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                        <p class="text-muted">{{userProfile.city}}, {{userProfile.country}}</p>
                    </div>
                    <hr>
                    <div>
                        <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                        <p ng-repeat="skill in userProfile.skills">
                            <span class="label label-info">{{skill}}</span>
                        </p>
                    </div>

                    <hr>
                    <div>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                        <p>{{userProfile.extra_info}}</p>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
    <!-- Box Comment -->
</section>